/*global*/
img {
    max-width: 100%;
    margin: 0 auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #fff;
}
.wrapper {
    margin: 0 auto;
    width: 87.5%;
    max-width: 1340px;
}
.button {
    border: 0;
    outline: none;
    text-transform: uppercase;
    padding: 10px 32px;
}
@media screen and (min-width: 768px) {
    .button {
        padding: 17px 65px;
    }
}

/*header*/
.header__menu {
    display: none;
    text-align: center;
}
.header__menu li a {
    color: #000;

}
.header__menu li {
    padding: 12px;
    border-bottom: 1px solid #000;
}
.header__menu li:hover {
    background-color: #E51937;
    transition: all .2s;
}
.header__nav {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}
.header__burger,
.header__close {
    border: 0;
    margin-right: 20px;
    background-color: transparent;
}
.header__close {
    display: none;
}
@media screen and (min-width: 768px) {
    .header__nav {
        padding-left: 15px;
        padding-right: 33px;
        height: 100px;
    }
    .header__logo img {
        width: 166px;
        height: 42px;
    }
    .header__burger {
        margin-right: 0;
    }
    .header__burger img {
        width: 35px;
        height: 22px;
    }
}
@media screen and (min-width: 1200px) {
    .header__nav {
        padding-left: 42px;
        padding-right: 60px;
    }
    .header__nav .header__menu {
        display: flex;
        position: absolute;
        top: 30px;
    }
    .header__menu-left {
        left: calc(50% - 258px);
    }
    .header__menu-right {
        right: 118px;
    }
    .header__menu li {
        padding: 10px 20px;
        border: none;
    }
    .header__menu li a {
        font-weight: 600;
        color: #000;
    }
    .header__menu li a.current {
        padding-bottom: 10px;
        color: #E51937;
        border-bottom: 2px solid #E51937;
    }
    .header__logo {
        padding-right: 13.5%;
    }
}

/*promo*/
.promo {
    padding-top: 30px;
    padding-bottom: 20px;
}
.promo__title,
.promo__text {
    color: #000;
    text-align: center;
}
.promo__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
}
.promo__text {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    padding-bottom: 70px;
}
.promo__preview {
    position: relative;
    padding-bottom: 30px;
}
.promo__preview::after {
    position: absolute;
    content: "";
    background: url("../img/mask-mob.png") center top no-repeat;
    width: 320px;
    height: 110px;
    top: -50px;
    left: calc(50% - 160px);
}
.promo__preview img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.promo__description {
    display: grid;
    color: #000;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    padding-bottom: 20px;
}
.promo__speed {
    grid-column: 2/3;
}
.promo__road {
    grid-column: 4/5;
}
.promo__speed,
.promo__road {
    position: relative;
    text-align: center;
}
.promo__speed::before,
.promo__road::before {
    position: absolute;
    content: "";
}
.promo__speed::before {
    background: url("../img/speed.svg");
    width: 39px;
    height: 29px;
    top: 10px;
    left: -49px;
}
.promo__road::before {
    background: url("../img/road.svg");
    width: 26px;
    height: 41px;
    top: 3px;
    left: -35px;
}
.promo__speed-num {
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
}
.promo__speed-num span {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}
.promo__speed-data {
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
}
.promo__info {
    display: flex;
    justify-content: center;
    position: relative;
}
.promo__info::after {
    position: absolute;
    content: "";
    background: url("../img/arrow-bottom.svg");
    width: 34px;
    height: 20px;
    top: 58px;
}
.promo__info-test {
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #E51937;
    padding: 10px 25px;
}
.promo__info-test::before {
    position: absolute;
    content: "";
    background: url("../img/steering-wheel.svg");
    width: 22px;
    height: 22px;
    top: 7px;
    left: -5px;
}
.promo__info-button {
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    background: #E51937;
    color: #fff;
}
@media screen and (min-width: 768px) {
    .promo {
        padding-top: 53px;
    }
    .promo__title {
        font-weight: 600;
        font-size: 90px;
        line-height: 110px;
    }
    .promo__text {
        padding-bottom: 0;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
    }
    .promo__preview::after {
        display: none;
    }
    .promo__description {
        padding-bottom: 50px;
    }
    .promo__description.wrapper {
        width: 70%;
    }
    .promo__speed::before {
        background: url("../img/speed-tab.svg");
        width: 66px;
        height: 50px;
        top: 16px;
    }
    .promo__road::before {
        background: url("../img/road-tab.svg");
        width: 45px;
        height: 74px;
    }
    .promo__speed-num {
        font-weight: 600;
        font-size: 50px;
        line-height: 61px;
    }
    .promo__speed-data {
        font-size: 12px;
        line-height: 15px;
    }
    .promo__info-test,
    .promo__info-button {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
    }
    .promo__info-test {
        padding: 17px 38px 17px 71px;
    }
    .promo__info-test::before {
        background: url("../img/steering-wheel-tab.svg");
        width: 32px;
        height: 32px;
        top: 11px;
        left: 18px;
    }
    .promo__info::after {
        top: 106px;
    }
}
@media screen and (min-width: 1440px) {
    .promo__description {
        padding-bottom: 0;
    }
    .promo__title {
        line-height: 90px;
    }
    .promo__preview {
        margin-top: -100px;
    }
    .promo__box {
        display: flex;
        align-items: center;
        padding-left: 320px;
        padding-right: 320px;
    }
    .promo__info {
        flex: 0 0 50%;
        height: 45px;
        align-items: center;
    }
    .promo__speed-num {
        font-weight: 600;
        font-size: 35px;
        line-height: 43px;
    }
    .promo__speed::before {
        background: url("../img/speed-desk.svg");
        width: 54px;
        height: 43px;
        top: 12px;
    }
    .promo__road::before {
        background: url("../img/road-desk.svg");
        width: 41px;
        height: 58px;
        top: 6px;
    }
    .promo__info-test, .promo__info-button {
        font-size: 13px;
        line-height: 16px;
    }
    .promo__info-test {
        color: #000;
        padding: 17px 26px 17px 46px;
    }
    .promo__info-test::before {
        background: url("../img/steering-wheel-desk.svg");
        width: 22px;
        height: 22px;
        top: 13px;
    }
    .promo__info-button {
        padding: 15px 43px;
        background: #fff;
        color: #E51937;
        border: 2px solid #E51937;
    }
    .promo__info::after {
        top: 90px;
        left: -27px;
    }
}

/*specification*/
.specification__title {
    display: none;
}
.specification__photo img {
    display: block;
    width: 100%;
}
.specification__info {
    padding-top: 18px;
    padding-bottom: 34px;
    background-color: #E51937;
}
.specification__content-second,
.specification__content-third {
    display: none;
}
.specification__content-title {
    padding-bottom: 13px;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
}
@media screen and (min-width: 768px) {
    .specification {
        padding-top: 100px;
    }
    .specification__photo {
        display: flex;
        flex-direction: column;
    }
    .specification__title {
        display: block;
        font-weight: 600;
        font-size: 70px;
        line-height: 85px;
        color: #E51937;
        text-align: right;
        margin-right: 53px;
        z-index: 2;
    }
    .specification__photo img {
        margin-top: -70px;
        z-index: -2;
    }
    .specification__info {
        display: flex;
        flex-wrap: wrap;
        padding-top: 55px;
        padding-bottom: 52px;
    }
    .specification__content {
        margin-left: 34px;
        margin-right: 30px;
    }
    .specification__content-first {
        flex: 0 0 44%;
        padding-bottom: 60px;
    }
    .specification__content-second,
    .specification__content-third {
        display: block;
    }
    .specification__content-second {
        padding-left: 60px;
    }
    .specification__content-third {
        margin: 0 auto;
    }
    .specification__content-third a {
        position: relative;
        padding: 17px 24px 17px 45px;
        color: inherit;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
    }
    .specification__content-third a::before {
        position: absolute;
        content: "";
        background: url("../img/info.svg");
        width: 32px;
        height: 32px;
        top: 10px;
        left: 0;
    }
    .specification__button {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        background-color: transparent;
        border: 3px solid #FFFFFF;
    }
    .specification__content-box {
        position: relative;
        padding-bottom: 30px;
    }
    .specification__content-box::after {
        position: absolute;
        content: "";
    }
    .specification__content-box:nth-child(1):after {
        background: url("../img/screen.svg");
        width: 37px;
        height: 54px;
        top: 4px;
        left: -59px;
    }
    .specification__content-box:nth-child(2):after {
        background: url("../img/wifi.svg");
        width: 45px;
        height: 35px;
        top: 12px;
        left: -61px;
    }
    .specification__content-box:nth-child(3):after {
        background: url("../img/bag.svg");
        width: 37px;
        height: 53px;
        top: 3px;
        left: -59px;
    }
    .specification__content-theme {
        font-weight: 600;
        font-size: 35px;
        line-height: 43px;
    }
    .specification__content-theme.specification__content-title {
        font-size: 20px;
        line-height: 18px;
    }
    .specification__content-theme span {
        font-size: 20px;
        line-height: 24px;
    }
    .specification__content-explanation {
        font-size: 12px;
        line-height: 15px;
    }
}
@media screen and (min-width: 1440px) {
    .specification__wrapper {
        display: grid;
        grid-template-columns: minmax(1000px, 2fr) 1fr;
    }
    .specification__photo {
        padding-top: 152px;
    }
    .specification__photo img {
        margin-top: 0;
    }
    .specification__title {
        text-align: left;
        margin-left: 80px;
    }
    .specification__info {
        padding-top: 80px;
    }
    .specification__content {
        margin-left: 52px;
    }
    .specification__content-first {
        flex: 75%;
        padding-bottom: 50px;
    }
    .specification__content-second {
        flex: 100%;
    }
    .specification__content-third {
        display: flex;
        align-items: center;
        height: 45px;
    }
    .specification__content-third a {
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
    }
    .specification__button {
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        padding: 15px 43px;
    }
}

/*safety*/
.safety__photo {
    position: relative;
    padding-top: 70px;
    padding-bottom: 40px;
    overflow: hidden;
}
.safety__photo-title {
    position: absolute;
    width: 140%;
    font-weight: 600;
    font-size: 100px;
    line-height: 122px;
    color: #E51937;
    opacity: 0.1;
    z-index: -1;
    top: 32px;
}
.safety__photo img {
    display: block;
    width: 100%;
    z-index: 1;
}
.safety__info {
    padding-top: 18px;
    padding-bottom: 44px;
    background-color: #E51937;
}
.safety__content-second,
.safety__content-third,
.safety__content-fourth {
    display: none;
}
.safety__content-title {
    padding-bottom: 13px;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
}
@media screen and (min-width: 768px) {
    .safety__photo {
        padding-top: 100px;
    }
    .safety__photo-title {
        font-size: 148px;
        line-height: 180px;
        text-align: center;
        width: 100%;
    }
    .safety__content {
        margin-left: 34px;
        margin-right: 30px;
    }
    .safety__content-title {
        padding-bottom: 13px;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
    }
    .safety__content-second,
    .safety__content-fourth {
        display: block;
    }
    .safety__info {
        display: flex;
        flex-wrap: wrap;
        padding-top: 55px;
        padding-bottom: 63px;
    }
    .safety__content-first {
        flex: 0 0 44%;
        padding-bottom: 90px;
    }
    .safety__content-second .safety__content-title {
        padding-bottom: 29px;
    }
    .safety__item {
        position: relative;
    }
    .safety__item::after {
        position: absolute;
        content: "";
        background: url("../img/stars.svg");
        width: 141px;
        height: 26px;
        top: -3px;
        right: -36px;
    }
    .safety__item span {
        font-size: 10px;
        line-height: 12px;
        opacity: 0.7;
    }
    .safety__list .safety__item {
        padding-bottom: 16px;
        font-weight: bold;
        font-size: 17px;
        line-height: 21px;
        text-transform: uppercase;
    }
    .safety__content-fourth {
        margin: 0 auto;
    }
    .safety__content-fourth a {
        position: relative;
        padding: 17px 24px 17px 45px;
        color: inherit;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
    }
    .safety__content-fourth a::before {
        position: absolute;
        content: "";
        background: url("../img/info.svg");
        width: 32px;
        height: 32px;
        top: 10px;
        left: 0;
    }
    .safety__button {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        background-color: transparent;
        border: 3px solid #FFFFFF;
    }
}
@media screen and (min-width: 1440px) {
    .safety__wrapper {
        display: grid;
        grid-template-columns: 1fr minmax(1000px, 2fr);
    }
    .safety__photo {
        grid-column: 2/3;
        grid-row: 1/-1;
        padding-top: 230px;
    }
    .safety__photo-title {
        top: 181px;
        font-size: 200px;
        line-height: 244px;
    }
    .safety__content {
        margin-left: 52px;
    }
    .safety__content-first {
        flex: 75%;
        padding-bottom: 50px;
    }
    .safety__content-second {
        width: 55%;
        padding-bottom: 20px;
    }
    .safety__info {
        padding-top: 80px;
    }
    .safety__content.safety__content-third,
    .safety__content-span {
        display: block;
        width: 100%;
    }
    .safety__content-third {
        position: relative;
        margin-left: 175px;
        padding-bottom: 20px;
    }
    .safety__content-third::before {
        position: absolute;
        content: "";
        background: url("../img/security.svg");
        width: 62px;
        height: 74px;
        top: 10px;
        left: -80px;
    }
    .safety__content-third .safety__content-text {
        font-weight: 600;
        font-size: 50px;
        line-height: 61px;
    }
    .safety__content-third .safety__content-span {
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
    }
    .safety__content-fourth {
        display: flex;
        align-items: center;
        height: 45px;
    }
    .safety__content-fourth a {
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
    }
    .safety__button {
        font-weight: bold;
        font-size: 13px;
        line-height: 16px;
        padding: 15px 43px;
    }
}